section {
  padding: 20px 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  border-bottom: 1px solid #d4d4d4;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}
